<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form action="#" method="post" class="form-horizontal">

            <!-- get food -->
            <div class="form-group">
                <label for="type" class="col-sm-4 control-label">What type of pet would you like to order?</label>
                <div class="col-sm-4"><input class="form-control" type="text" name="type" id="type"></div>


            </div>
            <br>
            <!-- select color -->
            <div class="form-group">
                <label for="color">Select a color</label>
                <select id="color" name="color">
                    <option value="bicolor">Bicolor</option>
                    <option value="white">White</option>
                    <option value="orange">Orange</option>
                </select>
            </div>
            <br>

            <!-- submit button -->
            <div class="col-xs-3 ">
                <button class="btn btn-primary" type="submit">Next</button>
            </div>
        </form>
    </div>
</body>
</html>